@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors";

// for users
@import "users/index";
@import "users/sign_in";
@import "users/authenticate";
@import "users/select";
@import "users/registration";
@import "telephone";
@import "result";
// for products
@import "products/index";
@import "products/new";
@import "products/show";
@import "products/buy";
@import "products/new__category";
// for card
@import "cards/new";
@import "cards/show";
@import "cards/pay";
// for categories
@import "categories/selector";
// for brand
@import "brand";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


// 共通：タグ
body{
  // padding-top: 102px;
  background-color: #f5f5f5;
}

// 共通：クラス
.breadcrumbs{
  margin: 8px;
  padding: 8px;
  font-size: 14px;
  display: inline-block;
  a{
    color: #333;
  }
}

.new-product-btn{
  z-index: 11;
  position: fixed;
  bottom: 30px;
  right:30px;
  background-color: $furima;
  display: inline-block;
  height: 140px;
  width: 140px;
  border-radius: 140px;
  padding-top: 10px;
  color: #fff;
  font-weight: bold;
  background-image: image_url("icon_camera.png");
  background-size: 80px;
  text-align: center;
  background-position: center center;
}