.brand-area
  %i.fas.fa-tag
  ブランド
  .brand-container
    .brands.negative
      - @brand_array.each do |brand|
        = link_to "brand/#{brand.id}", id: "brand/#{brand.id}" do
          %p.brand
            = brand.name